*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header ssection*/
header{
    background-color: black;

}
.nav-containr{
color: azure;
font-size: 50px;
}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.nav-list :first-child{
    flex-grow: 1;

}

/*End header section*/

/* main section*/

/* End main section*/

/*footer section*/
.footer-container{
    background-color: black;
    color: azure;
display: grid;
grid-template-columns: auto auto;
grid-template-rows: 1fr 1fr ;
justify-items: center;
}

.footer-container div{
}
/* End footer section*/

